In [ ]:
from google.colab import files
uploaded = files.upload()

Saving hope.csv to hope.csv

In [ ]:
import io
import pandas as pd
import numpy as np

df = pd.read_csv(io.BytesIO(uploaded['hope.csv']))

In [ ]:
df.columns

Index(['Index_', 'event_unique_id', 'occurrencedate', 'premisetype',
       'ucr_code', 'ucr_ext', 'offence', 'occurrenceyear', 'occurrencemonth',
       'occurrenceday', 'occurrencedayofyear', 'occurrencedayofweek',
       'occurrencehour', 'MCI', 'Division', 'Hood_ID', 'Long', 'Lat'],
      dtype='object')

In [ ]:
df.drop(['Index_', 'event_unique_id', 'occurrencedate','premisetype',
       'ucr_code', 'ucr_ext', 'offence','occurrencemonth',
       'occurrenceday','MCI', 'Division','Long', 'Lat'], axis = 1,inplace=True)

In [ ]:
df = df.sort_values(['occurrenceyear','occurrencedayofyear','occurrencehour','Hood_ID'])

In [ ]:

df.head(20)

        occurrenceyear  occurrencedayofyear  ... occurrencehour  Hood_ID
16806             2000                    1  ...              0       23
69220             2000                    1  ...              0       60
121550            2000                    1  ...              0      123
19117             2000                    1  ...              0      131
57084             2000                    1  ...              0      132
164188            2000                    1  ...              9       60
6095              2000                    1  ...             10        2
90167             2000                    1  ...             12       72
78282             2000                    1  ...             23      132
58607             2000                   32  ...             10      107
24324             2000                  214  ...             12       95
34210             2000                  275  ...              0       84
34211             2000                  275  ...              0       84
18692             2000                  327  ...              8       55
178947            2001                    1  ...              0       40
37026             2001                    1  ...              0       61
178914            2001                    1  ...              0      119
71122             2001                    1  ...              0      131
87360             2001                    1  ...              2      126
168284            2001                   91  ...             18       14

[20 rows x 5 columns]

In [ ]:
a = df.Hood_ID.unique()
print(sorted(a))
b = df.occurrencedayofweek.unique()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140]
['Saturday  ' 'Tuesday   ' 'Sunday    ' 'Wednesday ' 'Monday    '
 'Friday    ' 'Thursday  ']

In [ ]:
new_df=( df.groupby(['occurrenceyear','occurrencedayofyear','occurrencedayofweek','occurrencehour'],as_index=False).agg(list).reindex(columns=df.columns) )
new_df.head(10)

   occurrenceyear  occurrencedayofyear  ... occurrencehour                  Hood_ID
0            2000                    1  ...              0  [23, 60, 123, 131, 132]
1            2000                    1  ...              9                     [60]
2            2000                    1  ...             10                      [2]
3            2000                    1  ...             12                     [72]
4            2000                    1  ...             23                    [132]
5            2000                   32  ...             10                    [107]
6            2000                  214  ...             12                     [95]
7            2000                  275  ...              0                 [84, 84]
8            2000                  327  ...              8                     [55]
9            2001                    1  ...              0       [40, 61, 119, 131]

[10 rows x 5 columns]

In [ ]:
new_df_1=( df.groupby(['occurrenceyear','occurrencedayofyear','occurrencedayofweek'],as_index=False).agg(list).reindex(columns=df.columns) )
new_df_1.tail(10)

      occurrenceyear  ...                                            Hood_ID
2534            2019  ...  [26, 121, 21, 45, 70, 73, 77, 77, 90, 127, 1, ...
2535            2019  ...  [21, 21, 51, 64, 64, 77, 104, 28, 115, 1, 34, ...
2536            2019  ...  [30, 51, 73, 73, 74, 91, 91, 35, 35, 31, 77, 1...
2537            2019  ...  [43, 83, 8, 35, 95, 74, 1, 19, 77, 102, 26, 13...
2538            2019  ...  [17, 17, 78, 85, 35, 37, 125, 2, 30, 77, 137, ...
2539            2019  ...  [73, 73, 102, 95, 5, 75, 77, 77, 113, 31, 81, ...
2540            2019  ...  [21, 34, 55, 93, 25, 115, 132, 132, 77, 77, 77...
2541            2019  ...  [47, 76, 82, 94, 112, 77, 130, 136, 137, 137, ...
2542            2019  ...  [32, 82, 115, 120, 130, 30, 75, 64, 82, 90, 40...
2543            2019  ...  [26, 42, 81, 116, 1, 74, 25, 25, 25, 82, 93, 1...

[10 rows x 5 columns]

In [ ]:
for i in range(1,141):
  new_df_1[str(i)] = 0
print(new_df_1)
for i in range(2544):
  x = new_df_1.iloc[i,4]
  for j in x:
    new_df_1.iloc[i,4+j] = 1
d = {}
d['Sunday    '] = 1
d['Monday    '] = 2
d['Tuesday   '] = 3
d['Wednesday '] = 4
d['Thursday  '] = 5
d['Friday    '] = 6
d['Saturday  '] = 7
for i in range(2544):
  new_df_1.iloc[i,2] = d[new_df_1.iloc[i,2]]
new_df_1.head(10)

      occurrenceyear  occurrencedayofyear occurrencedayofweek  ... 138 139  140
0               2000                    1          Saturday    ...   0   0    0
1               2000                   32          Tuesday     ...   0   0    0
2               2000                  214          Tuesday     ...   0   0    0
3               2000                  275          Sunday      ...   0   0    0
4               2000                  327          Wednesday   ...   0   0    0
...              ...                  ...                 ...  ...  ..  ..  ...
2539            2019                  361          Friday      ...   0   0    0
2540            2019                  362          Saturday    ...   0   0    0
2541            2019                  363          Sunday      ...   0   0    0
2542            2019                  364          Monday      ...   0   0    0
2543            2019                  365          Tuesday     ...   0   0    0

[2544 rows x 145 columns]

   occurrenceyear  occurrencedayofyear occurrencedayofweek  ... 138 139  140
0            2000                    1                   7  ...   0   0    0
1            2000                   32                   3  ...   0   0    0
2            2000                  214                   3  ...   0   0    0
3            2000                  275                   1  ...   0   0    0
4            2000                  327                   4  ...   0   0    0
5            2001                    1                   2  ...   0   0    0
6            2001                   91                   1  ...   0   0    0
7            2001                  208                   6  ...   0   0    0
8            2001                  283                   4  ...   0   0    0
9            2001                  296                   3  ...   0   0    0

[10 rows x 145 columns]

In [ ]:
from google.colab import  drive
drive.mount('/drive') 
new_df_1.to_csv('/drive/My Drive/hope_data/imp_hope_data__new.csv')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /drive

In [ ]:
import matplotlib.pyplot as plt
import sklearn

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical 

xl = ['occurrenceyear' ,'occurrencedayofyear' ,'occurrencedayofweek']
tc = []
for i in range(1,141):
  tc.append(str(i))
x = new_df_1[xl].values
y = new_df_1[tc].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=40)
print(x_train.shape); print(x_test.shape)

Using TensorFlow backend.

NameError: ignored

In [ ]:
import tensorflow as tf
from sklearn.utils import class_weight

model = Sequential()
model.add(Dense(500, activation='relu', input_dim=3))
model.add(Dense(300, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(140, activation='sigmoid'))

METRICS = [
      keras.metrics.TruePositives(name='tp'),
      keras.metrics.FalsePositives(name='fp'),
      keras.metrics.TrueNegatives(name='tn'),
      keras.metrics.FalseNegatives(name='fn'), 
      keras.metrics.BinaryAccuracy(name='accuracy'),
      keras.metrics.Precision(name='precision'),
      keras.metrics.Recall(name='recall'),
      keras.metrics.AUC(name='auc'),
]

# Compile the model
model.compile(optimizer='adam', 
              loss='binary_crossentropy',metrics=METRICS)

early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor='val_auc', 
    verbose=1,
    patience=10,
    mode='max',
    restore_best_weights=True)

In [ ]:
model.fit(x_train, y_train, epochs=50,validation_split=0.1,callbacks=[early_stopping])

Train on 1602 samples, validate on 178 samples
Epoch 1/50
1602/1602 [==============================] - 0s 292us/step - loss: 0.5976 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6958 - val_loss: 0.5968 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7003
Epoch 2/50
1602/1602 [==============================] - 0s 290us/step - loss: 0.5958 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6957 - val_loss: 0.5951 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7005
Epoch 3/50
1602/1602 [==============================] - 0s 294us/step - loss: 0.5942 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6959 - val_loss: 0.5935 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7006
Epoch 4/50
1602/1602 [==============================] - 0s 303us/step - loss: 0.5927 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6960 - val_loss: 0.5921 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7004
Epoch 5/50
1602/1602 [==============================] - 0s 283us/step - loss: 0.5913 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6962 - val_loss: 0.5909 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7006
Epoch 6/50
1602/1602 [==============================] - 0s 279us/step - loss: 0.5901 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6962 - val_loss: 0.5897 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7005
Epoch 7/50
1602/1602 [==============================] - 0s 272us/step - loss: 0.5890 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6963 - val_loss: 0.5886 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7007
Epoch 8/50
1602/1602 [==============================] - 0s 280us/step - loss: 0.5879 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6963 - val_loss: 0.5876 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7007
Epoch 9/50
1602/1602 [==============================] - 0s 275us/step - loss: 0.5869 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6963 - val_loss: 0.5867 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7007
Epoch 10/50
1602/1602 [==============================] - 0s 303us/step - loss: 0.5860 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6963 - val_loss: 0.5858 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7007
Epoch 11/50
1602/1602 [==============================] - 0s 296us/step - loss: 0.5852 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6964 - val_loss: 0.5851 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 12/50
1602/1602 [==============================] - 0s 271us/step - loss: 0.5845 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6964 - val_loss: 0.5844 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 13/50
1602/1602 [==============================] - 0s 268us/step - loss: 0.5839 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6965 - val_loss: 0.5838 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 14/50
1602/1602 [==============================] - 0s 284us/step - loss: 0.5833 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6965 - val_loss: 0.5833 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 15/50
1602/1602 [==============================] - 0s 296us/step - loss: 0.5827 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5827 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 16/50
1602/1602 [==============================] - 0s 281us/step - loss: 0.5822 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6964 - val_loss: 0.5822 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 17/50
1602/1602 [==============================] - 1s 315us/step - loss: 0.5818 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5818 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7011
Epoch 18/50
1602/1602 [==============================] - 0s 270us/step - loss: 0.5813 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6965 - val_loss: 0.5814 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 19/50
1602/1602 [==============================] - 0s 273us/step - loss: 0.5810 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5811 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 20/50
1602/1602 [==============================] - 0s 277us/step - loss: 0.5806 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5808 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7011
Epoch 21/50
1602/1602 [==============================] - 0s 310us/step - loss: 0.5803 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5805 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7010
Epoch 22/50
1602/1602 [==============================] - 0s 275us/step - loss: 0.5800 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5802 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7010
Epoch 23/50
1602/1602 [==============================] - 0s 301us/step - loss: 0.5798 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5800 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7010
Epoch 24/50
1602/1602 [==============================] - 0s 300us/step - loss: 0.5795 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6967 - val_loss: 0.5798 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7009
Epoch 25/50
1602/1602 [==============================] - 0s 300us/step - loss: 0.5793 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6966 - val_loss: 0.5796 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7010
Epoch 26/50
1602/1602 [==============================] - 0s 283us/step - loss: 0.5791 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6967 - val_loss: 0.5794 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7010
Epoch 27/50
1602/1602 [==============================] - 0s 300us/step - loss: 0.5790 - tp: 22000.0000 - fp: 13244.0000 - tn: 136699.0000 - fn: 52337.0000 - accuracy: 0.7076 - precision: 0.6242 - recall: 0.2959 - auc: 0.6967 - val_loss: 0.5793 - val_tp: 2519.0000 - val_fp: 1397.0000 - val_tn: 15121.0000 - val_fn: 5883.0000 - val_accuracy: 0.7079 - val_precision: 0.6433 - val_recall: 0.2998 - val_auc: 0.7010
Restoring model weights from the end of the best epoch.
Epoch 00027: early stopping

In [ ]:
pred_train= model.predict(x_train)
scores= model.evaluate(x_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[5], 1 - scores[5]))   
 
pred_test= model.predict(x_test)
scores2 = model.evaluate(x_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[5], 1 - scores2[5]))    
print(pred_test[0])
print(y_test[0])

Accuracy on training data: 0.7076205015182495%
 Error on training data: 0.2923794984817505
Accuracy on test data: 0.7057873010635376%
 Error on test data: 0.2942126989364624
[0.73886555 0.55127776 0.24985899 0.2649294  0.23963596 0.34626874
 0.33588275 0.22245668 0.24402003 0.22617266 0.2523893  0.21950972
 0.22261621 0.62402004 0.21832524 0.32566345 0.5385923  0.28723818
 0.2512769  0.23000608 0.42576104 0.36413184 0.28492904 0.46534032
 0.5584544  0.66603696 0.6730578  0.23050964 0.21862976 0.31148213
 0.4833357  0.33926436 0.3114081  0.25303134 0.31539214 0.41548997
 0.2983063  0.29300228 0.32683775 0.30890414 0.23585151 0.33116168
 0.33514696 0.31411564 0.42016998 0.23606475 0.39308763 0.26343858
 0.22094274 0.27784038 0.45056334 0.2917443  0.254658   0.36501682
 0.28174257 0.22930452 0.23201716 0.21627651 0.24533615 0.20245254
 0.31468233 0.45477483 0.320188   0.26742452 0.30679688 0.2683638
 0.25344786 0.26390517 0.24354309 0.53182995 0.32248187 0.31074134
 0.71077704 0.4253788  0.741236   0.7591972  0.76153785 0.65139496
 0.37534174 0.30235794 0.38846773 0.5249028  0.29680106 0.2951558
 0.45562527 0.3230295  0.3236396  0.29645032 0.23581842 0.32029626
 0.2796052  0.2763071  0.54828364 0.26126754 0.579173   0.21955658
 0.20944619 0.32766953 0.21934915 0.2563361  0.22575292 0.22954781
 0.23333707 0.34268036 0.22134008 0.25055018 0.33958665 0.2891542
 0.2537605  0.2565426  0.37547383 0.23707066 0.46872646 0.20277138
 0.29024267 0.27577755 0.44156328 0.36909324 0.51415455 0.54438245
 0.38905317 0.42949396 0.3262708  0.4551774  0.26944104 0.47626105
 0.5225371  0.4055783  0.32464686 0.4376674  0.4585696  0.52127147
 0.22755091 0.23891136 0.3276985  0.6232494  0.6504385  0.44550586
 0.3520167  0.21319391]
[1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 1 1 1 0 1 1 1 1 0 1 0 1 0
 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1
 1 1 1 1 0 0 0 1 0 0 1 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 0 1 0]

In [ ]:
new_df_2=( df.groupby(['occurrenceyear','occurrencedayofyear','occurrencedayofweek','Hood_ID'],as_index=False).agg(list).reindex(columns=df.columns) )
new_df_2.tail(10)

        occurrenceyear  occurrencedayofyear  ... occurrencehour Hood_ID
118426            2019                  365  ...           [10]     103
118427            2019                  365  ...            [5]     104
118428            2019                  365  ...           [22]     115
118429            2019                  365  ...            [0]     116
118430            2019                  365  ...           [23]     127
118431            2019                  365  ...            [7]     129
118432            2019                  365  ...     [3, 4, 16]     131
118433            2019                  365  ...           [18]     132
118434            2019                  365  ...       [20, 20]     136
118435            2019                  365  ...           [17]     138

[10 rows x 5 columns]

In [ ]:
for i in range(24):
  new_df_2[str(i)] = 0
for i in range(118436):
  x1 = new_df_2.iloc[i,3]
  for j in x1:
    new_df_2.iloc[i,5+j] = 1
new_df_2.head()

   occurrenceyear  occurrencedayofyear occurrencedayofweek  ... 21  22  23
0            2000                    1          Saturday    ...  0   0   0
1            2000                    1          Saturday    ...  0   0   0
2            2000                    1          Saturday    ...  0   0   0
3            2000                    1          Saturday    ...  0   0   0
4            2000                    1          Saturday    ...  0   0   0

[5 rows x 29 columns]

In [ ]:
for i in range(118436):
  new_df_2.iloc[i,2] = d[new_df_2.iloc[i,2]]
new_df_2.head(10)

   occurrenceyear  occurrencedayofyear occurrencedayofweek  ... 21  22  23
0            2000                    1                   7  ...  0   0   0
1            2000                    1                   7  ...  0   0   0
2            2000                    1                   7  ...  0   0   0
3            2000                    1                   7  ...  0   0   0
4            2000                    1                   7  ...  0   0   0
5            2000                    1                   7  ...  0   0   0
6            2000                    1                   7  ...  0   0   1
7            2000                   32                   3  ...  0   0   0
8            2000                  214                   3  ...  0   0   0
9            2000                  275                   1  ...  0   0   0

[10 rows x 29 columns]

In [ ]:
x2_label = ['occurrenceyear','occurrencedayofyear','occurrencedayofweek','Hood_ID']
y2_label = []
for i in range(24):
  y2_label.append(str(i))
x2 = new_df_2[x2_label].values
y2 = new_df_2[y2_label].values
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.30, random_state=40)
print(x2_train.shape); print(x2_test.shape)

(82905, 4)
(35531, 4)

In [ ]:
model1 = Sequential()
model1.add(Dense(500, activation='relu', input_dim=4))
model1.add(Dense(100, activation='relu'))
model1.add(Dense(50, activation='relu'))
model1.add(Dense(24, activation='sigmoid'))

# Compile the model
model1.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

In [ ]:
model1.fit(x2_train, y2_train, epochs=20)

Epoch 1/20
82905/82905 [==============================] - 11s 131us/step - loss: 0.3127 - accuracy: 0.9362
Epoch 2/20
82905/82905 [==============================] - 11s 131us/step - loss: 0.2324 - accuracy: 0.9391
Epoch 3/20
82905/82905 [==============================] - 11s 131us/step - loss: 0.2285 - accuracy: 0.9391
Epoch 4/20
82905/82905 [==============================] - 11s 127us/step - loss: 0.2280 - accuracy: 0.9391
Epoch 5/20
82905/82905 [==============================] - 11s 127us/step - loss: 0.2276 - accuracy: 0.9391
Epoch 6/20
82905/82905 [==============================] - 11s 131us/step - loss: 0.2273 - accuracy: 0.9391
Epoch 7/20
82905/82905 [==============================] - 11s 136us/step - loss: 0.2269 - accuracy: 0.9391
Epoch 8/20
82905/82905 [==============================] - 10s 125us/step - loss: 0.2268 - accuracy: 0.9391
Epoch 9/20
82905/82905 [==============================] - 11s 131us/step - loss: 0.2267 - accuracy: 0.9391
Epoch 10/20
82905/82905 [==============================] - 10s 124us/step - loss: 0.2267 - accuracy: 0.9391
Epoch 11/20
82905/82905 [==============================] - 10s 122us/step - loss: 0.2267 - accuracy: 0.9391
Epoch 12/20
82905/82905 [==============================] - 11s 130us/step - loss: 0.2266 - accuracy: 0.9391
Epoch 13/20
82905/82905 [==============================] - 11s 136us/step - loss: 0.2266 - accuracy: 0.9391
Epoch 14/20
82905/82905 [==============================] - 11s 128us/step - loss: 0.2266 - accuracy: 0.9391
Epoch 15/20
82905/82905 [==============================] - 11s 132us/step - loss: 0.2266 - accuracy: 0.9391
Epoch 16/20
82905/82905 [==============================] - 10s 126us/step - loss: 0.2265 - accuracy: 0.9391
Epoch 17/20
82905/82905 [==============================] - 10s 125us/step - loss: 0.2265 - accuracy: 0.9391
Epoch 18/20
82905/82905 [==============================] - 11s 128us/step - loss: 0.2265 - accuracy: 0.9391
Epoch 19/20
82905/82905 [==============================] - 11s 128us/step - loss: 0.2265 - accuracy: 0.9391
Epoch 20/20
82905/82905 [==============================] - 11s 128us/step - loss: 0.2265 - accuracy: 0.9391

In [ ]:
pred_train2= model1.predict(x2_train)
scores2 = model1.evaluate(x2_train, y2_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores2[1], 1 - scores2[1]))   
 
pred_test2= model1.predict(x2_test)
scores2 = model1.evaluate(x2_test, y2_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Accuracy on training data: 0.9391298890113831%
 Error on training data: 0.06087011098861694
Accuracy on test data: 0.9389812350273132%
 Error on test data: 0.06101876497268677

In [ ]:
new_df_2.to_csv('/drive/My Drive/hope_data/demo_hope_data__new2.csv')

In [ ]:
c=0
f=0
for i in pred_test:
  for j in i:
    if j>0.5:
      print(c)
      f=1
  if f==1:
    break
  c+=1

In [ ]:
print(y2_train[1])

[1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]